<p>Hello <%= @request %>!</p>

<p>It's been 3 months where you registered on our platform?<br>
  Do you still interested? If so, connect to your profile and click on "REFRESH MY REQUEST"</p>

<p><%= link_to 'GO refresh this ', root_url%>
</p>

<p>Without news from you, your request still expired</p>

<p>Thanks you, hope to see you soon!</p>
