/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .fixed-bottom{
   background-color: red;
 }

 body, html {
   height: 100%;
 }

 .bg {
   background: url(space.jpg) no-repeat;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 .separatelign{
  color: white;
  padding: 0px 6px 0px 16px;
 }

 #coopstation{
  color: white;
  justify-content: center;
  text-align: center;
  margin-left: auto;
    margin-right: auto;
  width: 250px;
  height: 200px;
  color: white;
  font-family: 'Raleway';
  font-size: 5rem;
  border: solid;

}
.coopstation_borderout{
  border: groove;
  padding: 3px;
  width: 250px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
 .loggedin{
   margin-left: auto;
   margin-right: auto;
   color: white;
   text-align: center;
   justify-content: flex-end;
   display: flex;
   flex-direction: column;
 }
 .loggedin a{
   color: white;
 }
 .loggedin a:hover{
   font-style: italic;
   font-weight: bold;
 }
 .sidebarnav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  align-items: left;
 }

 /* The navigation menu links */
.sidebarnavlink {
  padding: 3px 6px 3px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  opacity: 100%;
}

/* When you mouse over the navigation links, change their color */
.sidebarnav a:hover {
  color: white;
}

/* Style page content */
.main {
  margin-left: 30%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sharedlink a{
  color: white;
  font-style: italic;
  font-size: 0.8em;
}
.actions{
  font-size: 1em;
}
/************ SIGN UP & LOGIN & RESEND INFORMATION (password, confirmation)************/

.sign_form {
  background-color: grey;
  opacity: 90%;
  width: 500px;
  position: relative;
  top: 30px;
  left: 55px;
  padding: 30px;
}

.sign_form textarea{
  width: 400px;
  height: 50px;
}
.sign_form h2{
  font-size: 3em;
  font-family: 'Raleway';
}

/**********EDIT VIEW************/
.edit_cancel{
  position: relative;
  top: 30px;
  left: 55px;
}

.edit_form{
  background-color: grey;
  opacity: 90%;
  width: 700px;
  position: relative;
  top: 30px;
  left: 55px;
  padding: 30px;
}

.edit_form h2,h3{
  font-size: 3em;
  font-family: 'Raleway';
}

.edit_form textarea{
  width: 400px;
  height: 50px;
}

.backlink{
  border-color: white;
  border-radius: 20px;
  border-style: solid;
  color: white;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.backlink:hover{
  background-color: white;
  color: grey;
}
